#inner-box{
    width: 92px;
    height: 39px;
    background: url("../images/loader.gif");
    background-size: cover;
    background-position: center;
}

#str{
    color: #dc3545;;
}

/* Custom styling for the footer */
.footer {
    background-color: #343a40; /* Dark background */
    color: #e7dbdbcc;              /* White text */
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 11px;
}
.footer a {
    color: #33b0d7;            /* Bootstrap blue for link */
    text-decoration: none;
}
.footer a:hover {
    color: #00ffe7;            /* Darker shade on hover */
}

#qr-reader {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

/*!* Custom styles for the navbar *!*/
/*.navbar {*/
/*    background-color: #f8f9fa; !* Light whitish background *!*/
/*    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); !* Soft shadow for elevation *!*/
/*}*/

/*.navbar-brand {*/
/*    font-weight: bold;*/
/*    font-size: 1.5rem;*/
/*    color: #283E51 !important; !* Darker color for branding *!*/
/*}*/

/*.nav-link {*/
/*    color: #283E51 !important;*/
/*    font-weight: 500;*/
/*    transition: color 0.3s ease;*/
/*}*/

/*.nav-link:hover {*/
/*    color: #007BFF !important; !* Blue color on hover *!*/
/*}*/


     /* Navbar styling */
 .navbar-custom {
     background-color: #ffffff;
     box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
     padding: 1rem 2rem;
 }

/* Navbar brand */
.navbar-custom .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #333333; /* Dark text for contrast */
}

/* Navbar links */
.navbar-custom .nav-link {
    color: #666666;
    margin-right: 1rem;
    transition: color 0.3s ease;
}

/* Hover effect for links */
.navbar-custom .nav-link:hover {
    color: #333333;
}

/* Active link */
.navbar-custom .nav-link.active {
    color: #000000;
}

/* Custom styling for navbar-toggler-icon */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%2866, 66, 66, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar-custom {
        padding: 1rem;
    }
}
