#inner-box{
    width: 92px;
    height: 39px;
    background: url("../images/loader.gif");
    background-size: cover;
    background-position: center;
}

#str{
    color: #dc3545;;
}

/* Custom styling for the footer */
.footer {
    background-color: #343a40; /* Dark background */
    color: #e7dbdbcc;              /* White text */
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 11px;
}
.footer a {
    color: #33b0d7;            /* Bootstrap blue for link */
    text-decoration: none;
}
.footer a:hover {
    color: #00ffe7;            /* Darker shade on hover */
}

#qr-reader {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

/* Custom styles for the navbar */
.navbar {
    background-color: #f8f9fa; /* Light whitish background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for elevation */
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #283E51 !important; /* Darker color for branding */
}

.nav-link {
    color: #283E51 !important;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #007BFF !important; /* Blue color on hover */
}

.btn-cta {
    background-color: #007BFF; /* Blue button */
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-cta:hover {
    background-color: #0056b3;
    color: #fff;
}